<div class="w-full flex h-[120px] gap-8">
    <div class="w-full flex h-full rounded-lg gap-5">
        <div
            class="h-full px-4 w-full shadow-md flex flex-col bg-white rounded-lg justify-around"
        >
            <div class="w-full flex gap-14 items-center justify-between">
                <div
                    class="bg-gradient-to-b from-[var(--brown-ligth-400)] to-[var(--brown-dark-800)] rounded-lg p-2 w-[40px] cursor-pointer shadow-md"
                >
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M2 10L10.7506 2.99951C11.481 2.41516 12.519 2.41516 13.2494 2.99951L22 10"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M9.47763 4.04943L5.47763 7.29943C4.75138 7.88951 4.38825 8.18455 4.19412 8.5924C4 9.00025 4 9.46813 4 10.4039V14C4 17.7712 4 19.6569 5.17157 20.8284C6.34315 22 8.22876 22 12 22C15.7712 22 17.6569 22 18.8284 20.8284C20 19.6569 20 17.7712 20 14V10.4039C20 9.46813 20 9.00025 19.8059 8.5924C19.6117 8.18455 19.2486 7.88951 18.5224 7.29943L14.5224 4.04943C13.3142 3.06777 12.7101 2.57694 12 2.57694C11.2899 2.57694 10.6858 3.06777 9.47763 4.04943Z"
                            stroke="white"
                            stroke-width="1.5"></path>
                        <path
                            d="M9.75 16.25H14.25"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="text-1xl relative pr-5">
                    <figure class="flex relative">
                        <img
                            class="rounded-full h-[35px] w-[35px] z-1"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzj00mTDRWomeiIY_ezq_EVu1H_1_9I7IRxA&s"
                            alt="logo"
                        />
                        <img
                            class="absolute top-0 right-5 rounded-full h-[35px] w-[35px] z-0"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzj00mTDRWomeiIY_ezq_EVu1H_1_9I7IRxA&s"
                            alt="logo"
                        />
                        <div
                            class="absolute top-[-1px] left-5 bg-[var(--brown-ligth-400)] w-[40px] h-[40px] rounded-full z-2 border-2 border-white"
                        >
                            <p
                                class="text-white text-center font-semibold text-md pt-1"
                            >
                                +2
                            </p>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="">
                <p class="text-1xl text-gray-500 font-light">Sucursales</p>
                <button class="text-sm text-green-600 cursor-pointer flex"
                    >Ingresar <span class="pt-[5.5px] pl-1"
                        ><svg
                            width="12"
                            height="12"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M6.43704 5.9581L15.5163 2.93168C19.5892 1.57404 21.8095 3.79435 20.4519 7.86729L17.4255 16.9465C15.389 23.0559 12.0585 23.0489 10.0291 16.9465L9.42103 15.1081C9.26546 14.6414 8.74927 14.1252 8.28258 13.9696L6.43703 13.3544C0.334707 11.325 0.334708 7.98749 6.43704 5.9581Z"
                                stroke="#00a63e"
                                stroke-width="2dd"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M9.05322 14.3302L12.8716 10.5118"
                                stroke="#00a63e"
                                stroke-width="2dd"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span></button
                >
            </div>
        </div>

        <div
            class="h-full px-4 w-full shadow-md flex flex-col bg-white rounded-lg justify-around"
        >
            <div class="w-full flex gap-14 items-center justify-between">
                <div
                    class="bg-gradient-to-b from-[var(--brown-ligth-400)] to-[var(--brown-dark-800)] rounded-lg p-2 w-[40px] cursor-pointer shadow-md"
                >
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8 7.25C7.58579 7.25 7.25 7.58579 7.25 8C7.25 8.41421 7.58579 8.75 8 8.75H11C11.4142 8.75 11.75 8.41421 11.75 8C11.75 7.58579 11.4142 7.25 11 7.25H8Z"
                            fill="#FAFAFA"></path>
                        <path
                            d="M8 11.25C7.58579 11.25 7.25 11.5858 7.25 12C7.25 12.4142 7.58579 12.75 8 12.75H16C16.4142 12.75 16.75 12.4142 16.75 12C16.75 11.5858 16.4142 11.25 16 11.25H8Z"
                            fill="#FAFAFA"></path>
                        <path
                            d="M8 15.25C7.58579 15.25 7.25 15.5858 7.25 16C7.25 16.4142 7.58579 16.75 8 16.75H11C11.4142 16.75 11.75 16.4142 11.75 16C11.75 15.5858 11.4142 15.25 11 15.25H8Z"
                            fill="#FAFAFA"></path>
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M15.0257 1.27937C14.1685 1.25 13.1711 1.25 12.0111 1.25H11.9548C10.1182 1.24999 8.67861 1.24999 7.53648 1.37373C6.37094 1.50001 5.42656 1.76232 4.62024 2.34815C4.13209 2.70281 3.70281 3.13209 3.34815 3.62024C2.76232 4.42656 2.50001 5.37094 2.37373 6.53648C2.24999 7.67861 2.24999 9.11821 2.25 10.9548V13.0452C2.24999 14.8818 2.24999 16.3214 2.37373 17.4635C2.50001 18.6291 2.76232 19.5734 3.34815 20.3798C3.70281 20.8679 4.13209 21.2972 4.62024 21.6518C5.42656 22.2377 6.37094 22.5 7.53648 22.6263C8.67859 22.75 10.1182 22.75 11.9547 22.75H12.0453C13.8818 22.75 15.3214 22.75 16.4635 22.6263C17.6291 22.5 18.5734 22.2377 19.3798 21.6518C19.8679 21.2972 20.2972 20.8679 20.6518 20.3798C21.2377 19.5734 21.5 18.6291 21.6263 17.4635C21.75 16.3214 21.75 14.8818 21.75 13.0453V10.989C21.75 9.82891 21.75 8.83153 21.7206 7.97432C21.6564 6.10087 21.4537 4.7239 20.6518 3.62024C20.2972 3.13209 19.8679 2.70281 19.3798 2.34815C18.2761 1.5463 16.8991 1.34356 15.0257 1.27937ZM5.50191 3.56168C6.00992 3.19259 6.66013 2.97745 7.69804 2.865C8.74999 2.75103 10.1084 2.75 12 2.75C12.8483 2.75 13.5918 2.75005 14.2518 2.76082C14.2562 3.23547 14.271 3.58489 14.3208 3.8995C14.7105 6.35988 16.6401 8.28952 19.1005 8.67921C19.4151 8.72904 19.7645 8.74381 20.2392 8.74818C20.25 9.40822 20.25 10.1517 20.25 11V13C20.25 14.8916 20.249 16.25 20.135 17.302C20.0225 18.3399 19.8074 18.9901 19.4383 19.4981C19.1762 19.8589 18.8589 20.1762 18.4981 20.4383C17.9901 20.8074 17.3399 21.0225 16.302 21.135C15.25 21.249 13.8916 21.25 12 21.25C10.1084 21.25 8.74999 21.249 7.69804 21.135C6.66013 21.0225 6.00992 20.8074 5.50191 20.4383C5.14111 20.1762 4.82382 19.8589 4.56168 19.4981C4.19259 18.9901 3.97745 18.3399 3.865 17.302C3.75103 16.25 3.75 14.8916 3.75 13V11C3.75 9.10843 3.75103 7.74999 3.865 6.69804C3.97745 5.66013 4.19259 5.00992 4.56168 4.50191C4.82382 4.14111 5.14111 3.82382 5.50191 3.56168ZM15.8023 3.66485C15.7699 3.45981 15.7575 3.22238 15.7528 2.81744C17.1131 2.91121 17.8986 3.12615 18.4981 3.56168C18.8589 3.82382 19.1762 4.14111 19.4383 4.50191C19.8738 5.10137 20.0888 5.88688 20.1826 7.24722C19.7776 7.24254 19.5402 7.23015 19.3352 7.19768C17.5166 6.90965 16.0904 5.48339 15.8023 3.66485Z"
                            fill="#FAFAFA"></path>
                    </svg>
                </div>
                <div class="text-1xl relative pr-8">
                    <div class="flex relative">
                        <div
                            class="bg-[var(--brown-ligth-400)] w-[40px] h-[40px] rounded-full z-2 border-2 border-white"
                        >
                            <p
                                class="text-white text-center font-semibold text-md pt-1"
                            >
                                A
                            </p>
                        </div>
                        <div
                            class="absolute top-[-1px] left-10 bg-[var(--brown-ligth-400)] w-[40px] h-[40px] rounded-full z-4 border-2 border-white"
                        >
                            <p
                                class="text-white text-center font-semibold text-md pt-1"
                            >
                                C
                            </p>
                        </div>
                        <div
                            class="absolute top-[-1px] left-5 bg-[var(--brown-ligth-400)] w-[40px] h-[40px] rounded-full z-2 border-2 border-white"
                        >
                            <p
                                class="text-white text-center font-semibold text-md pt-1"
                            >
                                B
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <p class="text-1xl text-gray-500 font-light">Comprobantes</p>
                <button class="text-sm text-green-600 cursor-pointer flex"
                    >Generar <span class="pt-[5.5px] pl-1"
                        ><svg
                            width="12"
                            height="12"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M6.43704 5.9581L15.5163 2.93168C19.5892 1.57404 21.8095 3.79435 20.4519 7.86729L17.4255 16.9465C15.389 23.0559 12.0585 23.0489 10.0291 16.9465L9.42103 15.1081C9.26546 14.6414 8.74927 14.1252 8.28258 13.9696L6.43703 13.3544C0.334707 11.325 0.334708 7.98749 6.43704 5.9581Z"
                                stroke="#00a63e"
                                stroke-width="2dd"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M9.05322 14.3302L12.8716 10.5118"
                                stroke="#00a63e"
                                stroke-width="2dd"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span></button
                >
            </div>
        </div>

        <div
            class="h-full px-4 w-full shadow-md flex flex-col bg-white rounded-lg justify-around"
        >
            <div class="w-full flex gap-14 items-center justify-between">
                <div
                    class="bg-gradient-to-b from-[var(--brown-ligth-400)] to-[var(--brown-dark-800)] rounded-lg p-2 w-[40px] cursor-pointer shadow-md"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 1.25C8.37665 1.25 6.25 3.37665 6.25 6C6.25 8.62335 8.37665 10.75 11 10.75C13.6234 10.75 15.75 8.62335 15.75 6C15.75 3.37665 13.6234 1.25 11 1.25ZM7.75 6C7.75 4.20507 9.20507 2.75 11 2.75C12.7949 2.75 14.25 4.20507 14.25 6C14.25 7.79493 12.7949 9.25 11 9.25C9.20507 9.25 7.75 7.79493 7.75 6Z" fill="#FAFAFA"/>
                        <path d="M8 12.25C5.37665 12.25 3.25 14.3766 3.25 17C3.25 19.6234 5.37665 21.75 8 21.75H14C14.4142 21.75 14.75 21.4142 14.75 21C14.75 20.5858 14.4142 20.25 14 20.25H8C6.20507 20.25 4.75 18.7949 4.75 17C4.75 15.2051 6.20507 13.75 8 13.75H14C14.4142 13.75 14.75 13.4142 14.75 13C14.75 12.5858 14.4142 12.25 14 12.25H8Z" fill="#FAFAFA"/>
                        <path d="M18.75 14C18.75 13.5858 18.4142 13.25 18 13.25C17.5858 13.25 17.25 13.5858 17.25 14V16.25H15C14.5858 16.25 14.25 16.5858 14.25 17C14.25 17.4142 14.5858 17.75 15 17.75H17.25V20C17.25 20.4142 17.5858 20.75 18 20.75C18.4142 20.75 18.75 20.4142 18.75 20V17.75H21C21.4142 17.75 21.75 17.4142 21.75 17C21.75 16.5858 21.4142 16.25 21 16.25H18.75V14Z" fill="#FAFAFA"/>
                    </svg>    
                </div>
            </div>
            <div class="">
                <p class="text-1xl text-gray-500 font-light">Agregar clientes</p>
                <button class="text-sm text-green-600 cursor-pointer flex"
                    >Agregar <span class="pt-[5.5px] pl-1"
                        ><svg
                            width="12"
                            height="12"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M6.43704 5.9581L15.5163 2.93168C19.5892 1.57404 21.8095 3.79435 20.4519 7.86729L17.4255 16.9465C15.389 23.0559 12.0585 23.0489 10.0291 16.9465L9.42103 15.1081C9.26546 14.6414 8.74927 14.1252 8.28258 13.9696L6.43703 13.3544C0.334707 11.325 0.334708 7.98749 6.43704 5.9581Z"
                                stroke="#00a63e"
                                stroke-width="2dd"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M9.05322 14.3302L12.8716 10.5118"
                                stroke="#00a63e"
                                stroke-width="2dd"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span></button
                >
            </div>
        </div>
    </div>

    <div
        class="bg-gradient-to-b from-[var(--brown-ligth-400)] to-[var(--brown-dark-800)] rounded-lg px-4 py-2 w-[30%] leading-8 flex flex-col text-white gap-2"
    >
        <div class="leading-4">
            <p class="text-1xl font-bold">Seleccionar Excel</p>
            <p class="text-sm font-light">Para cargar productos</p>
        </div>
        <div
            class="w-full h-full rounded-md text-center border-1 border-white flex justify-center items-center border-dashed cursor-pointer"
        >
            <svg
                width="42"
                height="42"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M13.5 2.75H10.5C9.5335 2.75 8.75 3.5335 8.75 4.5C8.75 5.4665 9.5335 6.25 10.5 6.25H13.5C14.4665 6.25 15.25 5.4665 15.25 4.5C15.25 3.5335 14.4665 2.75 13.5 2.75Z"
                    stroke="white"
                    stroke-width="1.5"></path>
                <path
                    d="M8.04646 4.03308C8.01596 4.19385 8 4.35977 8 4.52942C8 4.88286 8.06927 5.22012 8.19498 5.52837C7.66343 5.5475 7.20914 5.57952 6.81078 5.63308C5.88786 5.75716 5.49287 5.97161 5.23223 6.23224C4.9716 6.49287 4.75715 6.88787 4.63307 7.81079C4.50319 8.77686 4.5 10.072 4.5 12V14C4.5 15.928 4.50319 17.2232 4.63307 18.1892C4.75715 19.1121 4.9716 19.5071 5.23223 19.7678C5.49287 20.0284 5.88786 20.2429 6.81078 20.3669C7.77686 20.4968 9.07198 20.5 11 20.5H13C14.928 20.5 16.2231 20.4968 17.1892 20.3669C18.1121 20.2429 18.5071 20.0284 18.7678 19.7678C19.0284 19.5071 19.2428 19.1121 19.3669 18.1892C19.4968 17.2232 19.5 15.928 19.5 14V12C19.5 10.072 19.4968 8.77686 19.3669 7.81079C19.2428 6.88787 19.0284 6.49287 18.7678 6.23224C18.5071 5.97161 18.1121 5.75716 17.1892 5.63308C16.7909 5.57952 16.3366 5.5475 15.805 5.52837C15.9307 5.22012 16 4.88286 16 4.52942C16 4.35977 15.984 4.19385 15.9535 4.03308C17.8533 4.10863 19.0136 4.35674 19.8284 5.17158C21 6.34315 21 8.22877 21 12V14C21 17.7712 21 19.6569 19.8284 20.8284C18.6569 22 16.7712 22 13 22H11C7.22876 22 5.34315 22 4.17157 20.8284C3 19.6569 3 17.7712 3 14V12C3 8.22877 3 6.34315 4.17157 5.17158C4.98641 4.35674 6.14665 4.10863 8.04646 4.03308Z"
                    fill="white"></path>
                <path
                    d="M11.9997 11.0536V16.1409M14.5433 13.5972H9.45605H14.5433Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"></path>
            </svg>
        </div>
    </div>
</div>