<div class="w-full h-full rounded-tl-4xl bg-white pt-8 px-5">
  <!-- CAROUSEL PRODUCTS -->
  <div class="text-gray-600">
    <h2 class="text-1xl mb-4">Proximo a agotar</h2>

    <div
      class="flex items-center gap-4 overflow-x-auto scrollbar-thin scrollbar-thumb-gray-300 pb-4"
    >
      <!-- PRODUCT CARD -->
      <div
        class="relative z-[1] min-w-[140px] max-h-auto rounded-xl overflow-hidden before:content-[''] before:absolute before:bottom-0 before:rounded-xl before:z-[-2] before:bg-[var(--brown-ligth-100)] before:w-full before:h-[95px]"
      >
        <div class="flex items-center justify-center">
          <span class="text-white font-bold text-xl w-[150px]">
            <img src="/images/sofa.png" alt="" class="w-[150px]" />
          </span>
        </div>
        <div class="p-2 pt-0 text-sm text-center flex flex-col gap-4">
          <p class="font-medium text-gray-700 text-[18px] leading-4">
            Sillon Trento 3 Cuerpos
          </p>
          <p class="text-gray-500 text-sm leading-2 pb-2">180 x 80 x 69 cm</p>
        </div>
      </div>
      <!-- PRODUCT CARD -->

      <!-- PRODUCT CARD -->
      <div
        class="relative z-[1] min-w-[140px] h-full rounded-xl overflow-hidden before:content-[''] before:absolute before:bottom-0 before:rounded-xl before:z-[-2] before:bg-[var(--brown-ligth-100)] before:w-full before:h-[95px]"
      >
        <div class="flex items-center justify-center">
          <span class="text-white font-bold text-xl w-[150px]">
            <img src="/images/sofa.png" alt="" class="w-[150px]" />
          </span>
        </div>
        <div class="p-2 pt-0 text-sm text-center flex flex-col gap-4">
          <p class="font-medium text-gray-700 text-[18px] leading-4">
            Sillon cama 2 cuerpos
          </p>
          <p class="text-gray-500 text-sm leading-2 pb-2">Coppel LZ2450</p>
        </div>
      </div>
      <!-- PRODUCT CARD -->

      <!-- PRODUCT CARD -->
      <div
        class="relative z-[1] min-w-[140px] h-full rounded-xl overflow-hidden before:content-[''] before:absolute before:bottom-0 before:rounded-xl before:z-[-2] before:bg-[var(--brown-ligth-100)] before:w-full before:h-[95px]"
      >
        <div class="flex items-center justify-center">
          <span class="text-white font-bold text-xl w-[150px]">
            <img src="/images/sofa.png" alt="" class="w-[150px]" />
          </span>
        </div>
        <div class="p-2 pt-0 text-sm text-center flex flex-col gap-4">
          <p class="font-medium text-gray-700 text-[18px] leading-4">
            Sillon cama 2 cuerpos
          </p>
          <p class="text-gray-500 text-sm leading-2 pb-2">Coppel LZ2450</p>
        </div>
      </div>
      <!-- PRODUCT CARD -->
    </div>
  </div>
  <!-- CAROUSEL PRODUCTS -->

  <!-- INFORMATIONS PRODUCTS -->
  <div class="max-h-full w-full mt-10 text-gray-800 flex flex-col gap-4">
    <div class="flex justify-between">
      <p class="">Codigo</p>
      <p class="text-gray-500 justify-self-end">PD12949UXLM</p>
    </div>

    <div class="flex justify-between">
      <p class="">Descripcion</p>
      <p class="text-gray-500 justify-self-end">Mesa de Roble Macizo</p>
    </div>

    <div class="flex justify-between">
      <p class="">Stock</p>
      <p
        class="text-gray-500 justify-self-end flex justify-center items-center"
      >
        5 <span
          >{
            0 < 2 ? (
              <svg
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.7501 3C12.7501 2.58579 12.4143 2.25 12.0001 2.25C11.5859 2.25 11.2501 2.58579 11.2501 3L11.2501 13.25H9.13544C6.85338 13.25 5.56428 15.8692 6.95632 17.6775L9.82096 21.3987C10.9218 22.8288 13.0784 22.8288 14.1792 21.3988L17.0438 17.6775C18.4359 15.8692 17.1468 13.25 14.8647 13.25H12.7501L12.7501 3ZM8.14493 16.7625C7.51218 15.9405 8.09814 14.75 9.13544 14.75H11.9951L12.0001 14.75L12.0051 14.75H14.8647C15.902 14.75 16.488 15.9405 15.8552 16.7625L12.9906 20.4838C12.4902 21.1338 11.5099 21.1338 11.0096 20.4838L8.14493 16.7625Z"
                  fill="#ff0000"
                />
              </svg>
            ) : (
              <svg
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-width="3"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.1792 3.60114C13.0784 2.17112 10.9218 2.17112 9.82096 3.60114L6.95632 7.32242C5.56428 9.13074 6.85338 11.7499 9.13543 11.7499L11.2501 11.7499L11.2501 22C11.2501 22.4142 11.5859 22.75 12.0001 22.75C12.4143 22.75 12.7501 22.4142 12.7501 22L12.7501 11.7499H14.8647C17.1468 11.7499 18.4359 9.13074 17.0438 7.32242L14.1792 3.60114ZM11.0096 4.51613C11.51 3.86612 12.4902 3.86612 12.9906 4.51613L15.8552 8.23741C16.488 9.05937 15.902 10.2499 14.8647 10.2499L9.13543 10.2499C8.09814 10.2499 7.51218 9.05937 8.14493 8.23741L11.0096 4.51613Z"
                  fill="#00a63e"
                />
              </svg>
            )
          }</span>
      </p>
    </div>

    <div class="flex justify-between">
      <p class="">Precio Unitario</p>
      <p class="text-gray-500 justify-self-end">$292.932</p>
    </div>

    <div class="flex justify-between">
      <p class="">Precio General</p>
      <p class="text-gray-500 justify-self-end">$300.311</p>
    </div>
  </div>
  <!-- INFORMATIONS PRODUCTS -->

  <div class="w-full mt-10 flex justify-center">
    <img src="/images/sofa.png" alt="" class="w-[200px]" />
  </div>
</div>
