---
import { MainContent } from "../modules/dashboard/components/layout";



---

<div class="w-screen h-scree n grid  font-outfit  bg-[var(--brown-ligth-100)]/70" >
    <!-- MAIN CONTENT -->
    <MainContent/>
    <!-- MAIN CONTENT -->
</div>