---
import { AdministrativeFuctions, ProductsItemsTable } from "../../sections";
---

<div class="w-full max-h-full flex flex-col px-5 mt-8">
  <!-- ADMINISTRATIVE FUNCTIONS -->
  <AdministrativeFuctions />
  <!-- ADMINISTRATIVE FUNCTIONS -->
  <div class="mt-5">
    <h1 class="text-3xl font-normal text-gray-700">Productos</h1>
    <ProductsItemsTable />
  </div>
</div>
